<section class="d-flex flex-column align-items-center border border-5 w-75 p-1 m-3" style="height: auto">
  <div class="w-100 position-relative">
    <p class="ms-3 mt-1 fw-bold mb-4" >Post #<%= post.id %> by <%= post.author.name %> </p>
    <p class="position-absolute bottom-0 end-0 me-3" >Comments: <%= post.comments_counter %>,Likes: <%= post.likes_counter %></p>
  </div>
  <p class="mt-4 fw-bold" ><%= post.text %></p>
</section>